{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-danger">
            <h4>Confirm Deletion</h4>
            <p>Are you sure you want to delete product "<strong>{{ product.name }}</strong>"?</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
